<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545566933824-ba6gvkd1lqvpbljco8bm7pv65rmqsj26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545566933824-ba6gvkd1lqvpbljco8bm7pv65rmqsj26</string>
	<key>API_KEY</key>
	<string>AIzaSyBEXsPpEnrUXwrJxE0a_0mOZSQAzswIaI0</string>
	<key>GCM_SENDER_ID</key>
	<string>545566933824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sideproject.bakingCalculationHelper</string>
	<key>PROJECT_ID</key>
	<string>baking-weighing-assistant</string>
	<key>STORAGE_BUCKET</key>
	<string>baking-weighing-assistant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545566933824:ios:5978fb3d20b94e7abcb0a5</string>
</dict>
</plist>